<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>embedding</title>
</head>
<body>
<h2>Embedding graph from grafana</h2>
<iframe src="http://localhost:3000/d-solo/svjAkIqMk/testing?orgId=1&refresh=1s&panelId=4" width="1000" height="300" frameborder="0"></iframe>
<iframe src="http://localhost:3000/d-solo/svjAkIqMk/testing?orgId=1&refresh=1s&panelId=6" width="450" height="200" frameborder="0"></iframe>


<iframe src="http://localhost:3000/d-solo/svjAkIqMk/testing?orgId=1&refresh=1s&panelId=2" width="600" height="200" frameborder="0"></iframe>

</body>
</html>