{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1  shrink-to-fit=no"/>
    <title>Production planning</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" >
  <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js" ></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
.mongg{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -33px;

}

    </style>
</head>
<body>

<div>

    <nav class="navbar navbar-expand-lg navbar-light bg-danger" style="background-color:palevioletred;" >
     <a class="logo" href="#">
          <img src="{% static 'img/logo.png' %}" class="mongg" >
        </a>
        <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  <a class="navbar-brand" style="color:	white;font-size:30px; font-style:normal"></a>




    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a href="{% url 'summary' %}" style="color:black;font-size:17px;">Production Summary</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;font-size:17px;">Feeds <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'planning' %}">Production Planning</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'opening' %}">Opening Balance</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'produced' %}">Production</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'damage' %}">Damage</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'upload' %}">Sumo Upload</a></li>
       <li role="separator" class="divider"></li>
              <li><a href="{% url 'changes' %}">Changes</a></li>
            <li role="separator" class="divider"></li>
              <li><a href="{% url 'add_item' %}">Add item</a></li>
          </ul>
        </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;font-size:17px;">Job Card <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'jobcard' 'line1' %}">Line 1</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'jobcard' 'line2' %}">Line 2</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'jobcard' 'line3' %}">Line 3</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'jobcard' 'line4' %}">Line 4</a></li>
               <li role="separator" class="divider"></li>
              <li><a href="{% url 'jobcard' 'line5' %}">Line 5</a></li>
              <li role="separator" class="divider"></li>
              <li ><a href="{% url 'jobcard' 'line6' %}">Line 6</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'jobcard' 'line7' %}">Line 7</a></li>
               <li role="separator" class="divider"></li>
              <li><a href="{% url 'jobcard' 'line8' %}">Line 8</a></li>
              <li role="separator" class="divider"></li>
              <li ><a href="{% url 'jobcard' 'line9' %}">Line 9</a></li>
          </ul>
        </li>
                    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;font-size:17px;">MRP <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'store' %}">Store Planning</a></li>
            <li><a href="{% url 'sponge' %}">Sponge planning </a></li>
            <li><a href="{% url 'bms' %}">BMS Planning</a></li>
          </ul>
        </li>
          <li>
                 <a style="color:black;font-size:17px" onclick="exportToExcel('example',)" >Download</a>

          </li>
      </ul>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout' %}" style="color:darkred ; font-size:20px">Logout</a></li>
        </ul>


    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
</div>
    {% if messages %}
{% for message in messages %}
<p style="color:red;font-size:18px;" >{{message}}</p>
{% endfor %}
{% endif %}

<div>
<center>
<div style="width:850px;height:100px;background color:blue">
<div  class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Item Alignment and Status  changes</h3>
  </div>
  <div class="panel-body">

<center>
<div class="card">
  <form action="changes" method="POST" novalidate >
    {% csrf_token %}
      <h3>Item alignment Change</h3>
<table class="table  table-bordered" style="width:70%; background-color:#00BFFF; border:3px solid pink;">
          <tr>
            <th style="font-size:20px">  {{alignment.find.label_tag}}</th>
            <td >  {{alignment.find}}</td>
          </tr>

           <tr>
             <th  style="font-size:20px">{{alignment.replace.label_tag}}</th>
             <td>{{alignment.replace}}</td>
           </tr>


</table>
<h3>Item Status Change</h3>
<table class="table  table-bordered" style="width:70%; background-color:#00BFFF; border:3px solid pink;">
    <tr>
          <th style="font-size:18px" >{{alignment.itemcode.label_tag}}</th>
      <td>
            <input list="itemcodee"  name="itemcode"   >
                <datalist id="itemcodee"  >

                {% for codee in itemcode2 %}
                <option >{{codee.itemcode}}</option>
                      {% endfor %}

                </datalist>

      </td>

      </tr>

      <tr>
          <th style="font-size:18px"> {{ alignment.status.label_tag}}</th>
             <td>
               <input list="status" name="status">
               <datalist id="status">

                <option value="YES">
                <option value="NO">



              </datalist>

          </td>

      </tr>
      <tr>
           <th style="font-size:18px"> {{ alignment.station_no.label_tag}}</th>
                <td>
                      <input list="station" name="station">
                      <datalist id="station">

                      <option value="Line1">
                      <option value="Line2">
                      <option value="Line3">
                      <option value="Line4">
                      <option value="Line5">
                      <option value="Line6">
                      <option value="Line7">

                      </datalist>

          </td>

      </tr>


</table>
<br>
    <input type="submit" name="submit" value="Submit" style="background-color:green;color:white"  />
</form>

</div>
<br><br><br><br>
<button type="button"  onclick="copy_item_master()" style="background-color:green;color:white" > Copy Item Master</button>

</center>

  </div>
</div>
</div>
    </center>

</div>
</div>

</div>


</div>


<script>

    function copy_item_master(){
    $('button').hide();
  console.log("deepak");
    var token = '{{csrf_token}}';

  $.ajax({
   headers: { "X-CSRFToken": token },
   type:'POST',
  url:'{% url 'changes' %}',
  data:{'userdata':'copy'},
  success:function(data)
  {
  console.log("done")
  }




  })


}

</script>
<script>
 window.onload = function () {
  var selectBox = document.getElementById("itemcodeee");
  selectBox.addEventListener('change', changeFunc);
  function changeFunc() {
   var token = '{{csrf_token}}';
   console.log(this.value)
  $.ajax({
   headers: { "X-CSRFToken": token },
   type:'POST',
  url:'{% url 'changes' %}',
  data:{'userdata':this.value},
  success:function(data)
  {
  console.log(data);
  $("#itemname").html(data)

  }
  })

  }
}



</script>



</body>
</html>