{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1  shrink-to-fit=no"/>
    <title>Production planning</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" >
  <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js" ></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.8/css/fixedHeader.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.datatables.net/fixedheader/3.1.8/js/dataTables.fixedHeader.min.js"></script>



<script>
$(document).ready(function() {
  var data='';
  var sp_type='';
  var sp_shape='';

       var table = $('#example').DataTable( {
       "lengthMenu": [[-1,7], ["All",7]],
       "ordering":false,

    	"footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;

            // converting to interger to find total
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };

            // computing column Total of the complete result
            var total_qty = api
                .column( 2 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

	    var given_qty = api
                .column( 3 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Update footer by showing the total with the reference of the column index
            //console.log(monTotal,tueTotal,wedTotal,thuTotal,friTotal);
	        $( api.column( 0 ).footer() ).html('Total');
            $( api.column( 2 ).footer() ).html(total_qty);
            $( api.column( 3 ).footer() ).html(given_qty);

        }



    } );

    new $.fn.dataTable.FixedHeader( table );
//var table = $('#example').DataTable();

$('#example tbody').on( 'click', 'tr', function () {
  var rowData = table.row( this ).index();
   sp_type = $(this).find("td:eq(0)").text();
  sp_shape = $(this).find("td:eq(1)").text();

  console.log(sp_type);
  console.log(sp_shape);



} );

    $("#example tbody").keypress(function(event) {
            if (event.keyCode === 13) {
            //alert(event.target.id);
            $('.txtedit').hide();
            }
        });

 // Show Input element
 $('.edit').click(function(){

  $('.txtedit').hide();
  $(this).next('.txtedit').show().focus();
  $(this).hide();


 });

 // Save data
 $(".txtedit").focusout(function(){

  // Get edit id, field name and value
  var id = this.id;
  console.log(id)
  var split_id = id.split("_");
  var field_name = split_id[0];
  var edit_id = split_id[1];
  var value = $(this).val();
  console.log(value);


  // Hide Input element
  $(this).hide();

  // Hide and Change Text of the container with input elmeent
  $(this).prev('.edit').show();
  $(this).prev('.edit').text(value);
var token = '{{csrf_token}}';
  // Sending AJAX request
  $.ajax({
    headers: { "X-CSRFToken": token },
   url:'{% url 'sponge' %}',
   type: 'post',
   data: { 'sp_type':sp_type,'sp_shape':sp_shape, 'value':value, 'iid':id },
   success:function(response){
      if(response){
         console.log(response);
           //window.location.replace("http://192.168.5.156:8000/store")
      }else{
         console.log("Not saved.");
      }
   }
  });

 });

});
</script>
    <style>
.mongg{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -33px;

}
   .edit{
 width: 100%;
 height: 25px;
}

table td{
 padding:10px;
}
table tr:nth-child(even){
 background-color:lavender;
 color:black;
}
.txtedit{
 display: none;
 width: 99%;
 height: 30px;
}
    </style>
</head>
<body>

<div>

    <nav class="navbar navbar-expand-lg navbar-light bg-danger" style="background-color:palevioletred;" >
     <a class="logo" href="#">
          <img src="{% static 'img/logo.png' %}" class="mongg" >
        </a>
        <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  <a class="navbar-brand" style="color:	white;font-size:30px; font-style:normal"></a>




    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a href="{% url 'summary' %}" style="color:black;font-size:17px;">Production Summary</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;font-size:17px;">Feeds <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'planning' %}">Production Planning</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'opening' %}">Opening Balance</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'produced' %}">Production</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'damage' %}">Damage</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'upload' %}">Sumo Upload</a></li>
       <li role="separator" class="divider"></li>
              <li><a href="{% url 'changes' %}">Changes</a></li>
            <li role="separator" class="divider"></li>
              <li><a href="{% url 'add_item' %}">Add item</a></li>
          </ul>
        </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;font-size:17px;">Job Card <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'jobcard' 'line1' %}">Line 1</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'jobcard' 'line2' %}">Line 2</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'jobcard' 'line3' %}">Line 3</a></li>
               <li role="separator" class="divider"></li>
            <li><a href="{% url 'jobcard' 'line4' %}">Line 4</a></li>
               <li role="separator" class="divider"></li>
              <li><a href="{% url 'jobcard' 'line5' %}">Line 5</a></li>
              <li role="separator" class="divider"></li>
              <li ><a href="{% url 'jobcard' 'line6' %}">Line 6</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'jobcard' 'line7' %}">Line 7</a></li>
               <li role="separator" class="divider"></li>
              <li><a href="{% url 'jobcard' 'line8' %}">Line 8</a></li>
              <li role="separator" class="divider"></li>
              <li ><a href="{% url 'jobcard' 'line9' %}">Line 9</a></li>
          </ul>
        </li>
                    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;font-size:17px;">MRP <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'store' %}">Store Planning</a></li>
                  <li role="separator" class="divider"></li>
            <li><a href="{% url 'sponge' %}">Sponge planning </a></li>
                  <li role="separator" class="divider"></li>
            <li><a href="{% url 'bms' %}">BMS Planning</a></li>
          </ul>
        </li>
          <li>
                 <a style="color:black;font-size:17px" onclick="exportToExcel('example',)" >Download</a>

          </li>
      </ul>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout' %}" style="color:darkred ; font-size:20px">Logout</a></li>
        </ul>


    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
</div>
<center><p style="color:black;font-size:18px;">Sponge Planning  &nbsp; date:{{date|date:'d-m-Y'}}</p></center>

<table id="example" class="table table-striped table-bordered table-hover " style="width:100%; background-color:#00BFFF; border:3px solid pink;">
        <thead>
            <tr>
                <th style="text-align:center; background-color:#005B8f; color:white;font-size:20px;">Sponge Type </th>
                 <th style="text-align:center; background-color:#005B8f; color:white;font-size:20px;">Sponge Shape </th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:20px;">Total Quantity  </th>
                    <th style="text-align:center;background-color:#005B8f; color:white;font-size:20px;">Given Quantity  </th>
                   <th style="text-align:center;background-color:#005B8f; color:white;font-size:20px;">Line1  </th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:20px;">Line2  </th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:20px;">Line3  </th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:20px;">Line4  </th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:20px;">Line5  </th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:20px;">Line6  </th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:20px;">Line7  </th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:20px;">Line8  </th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:20px;">Line9  </th>



            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                 <td style=" text-align:center;  color:black;font-size:18px;">{{item.sponge_type}}</td>
                 <td style=" text-align:center;  color:black;font-size:18px;">{{item.sponge_shape}}</td>
                <td style="text-align:center;color:black;font-size:20px;">{{item.quantity}}</td>
                         <td style="  text-align:center;color:black;font-size:18px;"> {{item.given}}</td>
               <td style=" text-align:center; color:black;font-size:18px;">
                      <div class='edit' >{{item.station1}} </div>
                      <input type='text' class='txtedit' value=0  id='Line1' size="2">
                  </td>
                  <td style="  text-align:center;color:black;font-size:18px;">
                      <div class='edit' >{{item.station2}}</div>
                      <input type='text' class='txtedit' value=0 id='Line2' size="2">
                  </td>
                 <td style="  text-align:center;color:black;font-size:18px;">
                      <div class='edit' >{{item.station3}}</div>
                      <input type='text' class='txtedit' value=0 id='Line3' size="2">
                  </td>
                 <td style="  text-align:center;color:black;font-size:18px;">
                      <div class='edit' >{{item.station4}} </div>
                      <input type='text' class='txtedit' value=0 id='Line4' size="2">
                  </td>
                 <td style="  text-align:center;color:black;font-size:18px;">
                      <div class='edit' >{{item.station5}} </div>
                      <input type='text' class='txtedit' value=0 id='Line5' size="2">
                  </td>
                 <td style="  text-align:center;color:black;font-size:18px;">
                      <div class='edit' >{{item.station6}} </div>
                      <input type='text' class='txtedit' value=0 id='Line6' size="2">
                  </td>
                 <td style="  text-align:center;color:black;font-size:18px;">
                      <div class='edit' >{{item.station7}} </div>
                      <input type='text' class='txtedit' value=0 id='Line7' size="2">
                  </td>
                 <td style="  text-align:center;color:black;font-size:18px;">
                      <div class='edit' >{{item.station8}} </div>
                      <input type='text' class='txtedit' value=0 id='Line8' size="2">
                  </td>
                 <td style="  text-align:center;color:black;font-size:18px;">
                      <div class='edit' >{{item.station9}} </div>
                      <input type='text' class='txtedit' value=0 id='Line9' size="2">
                  </td>

            </tr>

         {% endfor %}
        </tbody>

    <tr>
                <th style=" background-color:#005B8f; color:white ;font-size:16px;"></th>
                <th style=" text-align:center; background-color:#005B8f; color:white ;font-size:16px;"></th>
                <th style=" text-align:center;background-color:#005B8f; color:white;font-size:16px;"></th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:16px;"></th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:16px;">{{line_dict.line1}}</th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:16px;">{{line_dict.line2}}</th>
                <th  style="text-align:center;background-color:#005B8f; color:white;font-size:16px;">{{line_dict.line3}}</th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:16px;">{{line_dict.line4}}</th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:16px;">{{line_dict.line5}}</th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:16px;">{{line_dict.line6}}</th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:16px;">{{line_dict.line7}}</th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:16px;">{{line_dict.line8}}</th>
                <th style="text-align:center;background-color:#005B8f; color:white;font-size:16px;">{{line_dict.line9}}</th>
        </tr>
	</tfoot>

<center>
    <button type="button"><a href="{% url 'sponge' %}">Submit</a></button>
</center>
    </table>



</body>
</html>